@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #fff0d0;
  box-shadow: -1px -1px 41px 0px rgb(255 255 255 / 75%);
  -webkit-box-shadow: -1px -1px 41px 0px rgb(255 255 255 / 75%);
  -moz-box-shadow: -1px -1px 41px 0px rgb(255 255 255 / 75%);
} */

body {
  background: url("../images/open-book.jpg");
  background-size: 100% 100vh;
}
.header {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 20vh;
}
.img1 {
  justify-self: center;
  width: 100%;
  height: 20vh;
}
.header h1 {
  align-self: center;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 2rem;
  font-size: 2.2rem;
}
form {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
label {
  padding-right: 2%;
}
select {
  padding: 3%;
  border: 1px solid #bdb9b9;
  border-radius: 15px;
}
#addBook {
  border: none;
  border-radius: 15px;
  padding: 1%;
  background-color: rgb(188 103 83);
  color: #fff0d0;
}

input {
  text-align: center;
  padding: 3%;
  border: 1px solid #bdb9b9;
  border-radius: 15px;
}
table {
  margin: 10%;
  margin-top: 4%;
  margin-bottom: 0;
  text-align: left;
  width: 80%;
  border-collapse: collapse;
}
tr {
  background-color: #fef0d1c5;
}
th,
td {
  border-bottom: 1px solid #bdb9b9;
  height: 8vh;
  width: 16%;
  font-family: "Roboto", sans-serif;
}
th {
  font-size: 1.2rem;
}
.delbtn {
  border: none;
  border-radius: 30%;
  height: 60%;
  background-color: rgb(231, 45, 45);
  color: #ffffff;
}
.statusbtn {
  background: none;
  border: 1px solid #000000;
  border-radius: 30%;
  height: 60%;
  padding: 1%;
}

.logout {
  position: fixed;
  right: 1%;
  top: 1%;
  width: 6%;
  height: 4%;
}
.logout button {
  border: none;
  width: 100%;
  height: 100%;
  color: #fff0d0;
  border-radius: 45%;
  background-color: rgb(188 103 83);
}
button:hover {
  box-shadow: 1px 1px 14px 3px rgb(0 0 0 / 75%);
  -webkit-box-shadow: 1px 1px 14px 3px rgb(0 0 0 / 75%);
  -moz-box-shadow: 1px 1px 14px 3px rgb(0 0 0 / 75%);
}

/*******************Media Query*******************/
@media only screen and (max-width: 425px) {
  form {
    flex-direction: column;
  }
  label {
    margin: 1%;
  }
  .list {
    margin: 0;
    padding: 0;
  }
  table {
    margin: 3% 0 0 3%;
    width: 100%;
  }
  .logout {
    width: 10%;
  }
}
